@using SimpleStore.Domain.Entities;
@using SimpleStore.WebUI.Models
@using SimpleStore.WebUI.HtmlHelpers
@model ProductsListViewModel

@{
    ViewBag.Title = "Catalog";
}
@foreach(var p in @Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
